body {
    max-width: 100%;
    box-sizing:border-box;
}


.navbar-a {
    margin: 0px 5px 0px 5px;
}



.ulnavbar {
    margin: 0px 0px 0px 150px;
}

.test {
    position:absolute;
    justify-content: center;
    padding-top: 10vmax;
    padding-bottom: 10vmax;
    padding-right: 4vw;
    padding-left: 4vw;
    margin: 0 auto;
    box-sizing: content-box;
    top:250px;
}

.imagea {
    color: white;
    border-bottom: solid 1px white;
    padding: 2px 0px 2px 0px;
}

.imagea:hover {
    text-decoration: none;
    color: white;
}


.location {
    background-color: #253551;
}

.button {
    color: #fff;
    border-color: #fff;
    background: transparent;
    border-style: solid;
    border-width: 3px;
    padding: 10px;
    margin-top: 15px;
    font-size: 25px;
    display: inline-block;
}

.button2 {
    color: #fff;
    border-color: #fff;
    background: transparent;
    border-style: solid;
    border-width: 2px;
    padding: 18px;
    margin-top: 15px;
    font-size: 17px;
    display: inline-block;
}

.button2:hover {
    -webkit-transition: 0.1s background-color linear, 0.1s color linear;
    -moz-transition: 0.1s background-color linear, 0.1s color linear;
    -o-transition: 0.1s background-color linear, 0.1s color linear;
    transition: 0.1s background-color linear, 0.1s color linear;
    background-color: white;
    color:#253551;
    text-decoration: none;
}

.button:hover {
    -webkit-transition: 0.1s background-color linear, 0.1s color linear;
    -moz-transition: 0.1s background-color linear, 0.1s color linear;
    -o-transition: 0.1s background-color linear, 0.1s color linear;
    transition: 0.1s background-color linear, 0.1s color linear;
    background-color: white;
    color:#253551;
    text-decoration: none;
}

.input {
    position: relative;
    border: 1px solid #fff;
    background: #fff;
    padding: 18px;
    margin-right: 14px;
    font-size: 17px;
}

.menu-select {
    margin: 0px 10px 0px 10px;
}

.menu-select-active {
    text-decoration: underline;
}

.menu-section-title {
    font-size: 35px;
    margin-top: 40px;
}


.menu-items {
    margin-top: 32px;
}

.menu-item {
    margin: 0px 0px 32px 0px;
}

.menu-item-title {
    font-size: 25px;
}

.menu-item-description {
    margin-top: 5px;
    font-size: 18px;
}

.menu-item-cost {
    margin: 8px 0px 8px 0px;
    font-size: 18px;
}
.formselector {
    position: relative;
    display: block;
    color: #2d333f;
    padding: 14px 20px 14px 36px;
    z-index: 1;
    border: none;
    font-weight: 500;
    margin: 10px;
    width: 220px;
}

#select_1{
    top: 0;
    cursor: pointer;
    border-radius: 0;
    color: #2d333f;
    font-size: 16px;
    background-color: white;
    z-index: 2;
}

#select_2 {
    top: 0;
    cursor: pointer;
    border-radius: 0;
    color: #2d333f;
    font-size: 16px;
    background-color: white;
    z-index: 2;
}

#submitbutton {
    width: 100% !important;
    max-width: 220px;
    float: none !important;
    line-height: 1em;
    display: inline;
    color: #fff;
    background: #000;
    height: 50px;
    font-weight: 500;
}


